# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* List popular languages for Data Science
* List popular libraries for Data Science
* List popular open source tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Dplyr

|Data Science Tools|
|------------------|
|Rstudio|
|TensorFlow|
|ApacheSpark|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [12]:
3+2

5

In [13]:
5-3

2

This a simple arithmetic expression to mutiply then add integers

In [15]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [17]:
200/60

3.3333333333333335

## Author ##

Martin Valny